#virtual environments
.venv
venv
virtualenv
.virtualenv

#python caches
__pycache__
*.pyc
*.pyo

# Local env files
.env
.env.*
!.env.example

#vs code folder

#node modules
node_modules

#database files
instance/
*.sqlite
*.db
app/*.sqlite
app/*.db

# media files
media/tmp_files
media/uploads/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
